<h1>Listing tasks</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>

<%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>



<h4>Target token:</h4>
<p><%= session[:token] %> </p>

<h4>Bearer token:</h4>
<p><%= session[:access_token] %> </p>

<h4>Login:</h4>
<p><%= session[:login] %> </p>

<h4>Email:</h4>
<p><%= session[:email] %> </p>

